<h2>Por País</h2>
<hr>
<div class="row">
  <div class="col">
    <!-- FACT los () significan que "escucha" el evento emitido del app-country-input -->
    <app-country-input (onUserEnter)="buscar($event)" placeholderTxt="Buscar País..."
      (onDebounce)="sugerencias($event)"></app-country-input>
  </div>
</div>

<hr>

<div *ngIf="hayError" class="alert alert-danger">
  No se encontró ningún registro asociado a {{termino}}
</div>

<div *ngIf="paises.length > 0" class="row">
  <div class="col">
    <app-country-table [paises]=paises></app-country-table>
  </div>
</div>
