<div class="animate__animated animate__fadeIn">
  <div *ngIf="!pais; else divPais" class="alert alert-info">
    Espere por favor, cargando...
  </div>

  <ng-template #divPais>
    <div class="row">
      <div class="col-12">
        <h1>País: <small>{{pais[0].name.common}}</small></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <h3>Bandera</h3>
        <img [src]="pais[0].flags.svg" [alt]="pais[0].name.common" class="img-thumbnail">
      </div>
      <!-- TODO mejorar vista individual de País -->
      <div class="col">
        <h3>Información</h3>
        <ul class="list-group">
          <li class="list-group-item">
            <strong>Capital: </strong> {{pais[0].capital}}
          </li>
          <li class="list-group-item">
            <strong>Continente: </strong> {{pais[0].continents[0]}}
          </li>
          <li class="list-group-item">
            <strong>Población: </strong> {{pais[0].population | number}}
          </li>
        </ul>
      </div>
    </div>

    <div class="row mt-2">

      <h3>Traducciones</h3>
      <div class="col">
        <span class="badge bg-secondary me-1">{{pais[0].translations.ara.official}}</span>
        <span class="badge bg-secondary me-1">{{pais[0].translations.ces.official}}</span>
        <span class="badge bg-secondary me-1">{{pais[0].translations.cym.official}}</span>
        <span class="badge bg-secondary me-1">{{pais[0].translations.deu.official}}</span>
        <span class="badge bg-secondary me-1">{{pais[0].translations.est.official}}</span>
        <span class="badge bg-secondary me-1">{{pais[0].translations.fin.official}}</span>
        <span class="badge bg-secondary me-1">{{pais[0].translations.fra.official}}</span>
        <span class="badge bg-secondary me-1">{{pais[0].translations.hrv.official}}</span>
        <span class="badge bg-secondary me-1">{{pais[0].translations.hun.official}}</span>
        <span class="badge bg-secondary me-1">{{pais[0].translations.ita.official}}</span>
        <span class="badge bg-secondary me-1">{{pais[0].translations.jpn.official}}</span>
        <span class="badge bg-secondary me-1">{{pais[0].translations.kor.official}}</span>
        <span class="badge bg-secondary me-1">{{pais[0].translations.por.official}}</span>
        <span class="badge bg-secondary me-1">{{pais[0].translations.rus.official}}</span>
      </div>
    </div>

    <pre class="mt-5">
    {{ pais[0] | json }}
  </pre>
  </ng-template>
</div>
